* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background: rgb(16, 72, 99);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

::selection {
    color: white;
    background: rgb(16, 111, 158);
}

.appContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    max-width: 750px;
    height: 50%;
    min-height: 450px;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 5px black;
    padding: 15px;

}

.question {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 15px;
    font-size: 1.3rem;

}

#questionContainer {
    margin-bottom: 15px;
}
/* .appContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: white;
    width: 650px;
    height: 550px;
} */

.btn {
    font-size: 1rem;
}
.grid {
    display: grid;
    grid-template-rows: repeat(4, 30px);
    gap: 15px;
}

.correct {
    background: rgb(153, 248, 153);
}

.incorrect {
    background: rgb(255, 135, 131);
}

#controls {
    display: flex;
    justify-content: space-evenly;
    /* display: none; */
}


#controls button {
    width: 100px;
    height: 75px;
}

.result-box {
    margin-top: 10px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}
.complete-text {
    font-size: 1.1rem;
}

.endButtons button{
    width: 100px;
    height: 75px;
}